<div>
	<div class="submit-form">
		<div *ngIf="!submitted">
			<form name="form" #f="ngForm">
				<div class="form-group">
					<label for="title">Title</label>
					<input
						type="text"
						class="form-control"
						id="title"
						[(ngModel)]="post.title"
						name="title"
						required
						minlength="4"
						#title="ngModel"
					/>
				</div>

				<div class="form-group">
					<label for="body">Body</label>
					<textarea
						ng-model="myTextarea"
						class="form-control"
						id="body"
						[(ngModel)]="post.body"
						name="body"
						minlength="10"
						#body="ngModel"
						rows="4"
						required
					></textarea>
				</div>
				<div *ngIf="!f.valid && f.submitted">
					<div *ngIf="title.errors?.['required']">
					Title is required.
					</div>
					<div *ngIf="title.errors?.['minlength']">
					Title must be at least 4 characters long.
					</div>
					<div *ngIf="body.errors?.['required']">
						Body is required.
					</div>
					<div *ngIf="body.errors?.['minlength']">
						Body must be at least 10 characters long.
					</div>
				</div>

				<button (click)="savePost()" class="btn btn-success m-2" [disabled]="!f.valid">Submit</button>
			</form>
		</div>

		<div *ngIf="submitted">
			<h4>Post was submitted successfully!</h4>
			<button class="btn btn-success m-2" (click)="newPost()">Add</button>
			<a
				class="btn btn-warning m-2"
				routerLink="/post"
			>
				Back
			</a>
		</div>
	</div>
</div>